mqtt:
  host: "192.168.1.100"
  port: 1883
  username: "mqtt_user"
  password: "mqtt_password"

starlink:
  router_address: "192.168.1.1:9000"

log_level: info

scanner:
  interval: 30
  misses_for_not_home: 30

devices:
  alice_phone:
    name: "Alice Phone"
    starlink_name: "Alice-iPhone"
  bob_phone:
    name: "Bob Phone"
    starlink_name: "Nothing-Phone-1"
